<nav>
  <h1>Treeify!!</h1>
  <button class="buttons"><a href="/">Input</a></button>
  <button class="buttons"><a href="/proc">Results</a></button>
  <button class="buttons"><a href="/records">Records</a></button>
</nav>
