.searchResults table {
  margin: 1% auto;
}

.dataRow {
  transition: all 0.2s ease-in-out;
}

.dataRow:hover {
  cursor: pointer;
  background-color: rgb(209, 208, 208) !important;
  transition: all 0.2s ease-in-out;
}

.dataSelect {
  color: blue;
  margin: 1% auto;
  display: flex;
  justify-content: space-between;
}

.pageSelect {
  color: blue;
  margin: 1% auto;
  display: flex;
  justify-content: space-between;
}

.next,
.previous,
.grey,
.loadData {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.grey {
  opacity: 30%;
}

.previous:hover,
.next:hover {
  cursor: pointer;
}

.loadData:hover {
  cursor: pointer;
}
