.review {
  display: flex;
  padding-left: 20px;
}
.review2 {
  display: flex;
  padding-left: 20px;
}

.reviewquote {
  padding-left: 20px;
}

.pagewrapper {
  margin: 20px;
  font-family: inherit;
}

@font-face {
  font-family: "Showtime";
  src: url("../fonts/Showtime.ttf");
}

.reviewTitle {
  font-family: "Showtime";
  font-size: 50px;
}
